*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(20deg, #8cf3c8 20%, rgb(51, 253, 1) 100%);
}

.navbar {
    position: sticky;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background-color: #6cf368;
    top: 0;
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 32px;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-logo img{
    width: 150px;
    height: auto;
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
}

.nav.link{
    color: lightcyan;
    text-decoration: none;
    font-size: 14pt;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 10px;
}

.nav-link:hover{
    background-color: gold;  
}

@media screen and (max-width: 768px) {
    .nav-container{
        flex-direction: column;
        align-items: flex-start;
        padding: 16px;
    }

    .nav-logo img{
        width: 100%;
        height: auto;
        margin-bottom: 16px;
    }

    .nav-menu{
        flex-direction: column;
        
    }
    
    .nav-link {
     width: 100%;



    }
}*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #15f8da;
}

.navbar {
    position: sticky;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background-color: #6cf368;
    top: 0;
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 32px;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-logo img{
    width: 150px;
    height: auto;
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
}

.nav.link{
    color: lightcyan;
    text-decoration: none;
    font-size: 14pt;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 10px;
}

.nav-link:hover{
    background-color: gold;  
}

@media screen and (max-width: 768px) {
    .nav-container{
        flex-direction: column;
        align-items: flex-start;
        padding: 16px;
    }

    .nav-logo img{
        width: 100%;
        height: auto;
        margin-bottom: 16px;
    }

    .nav-menu{
        flex-direction: column;
        
    }
    
    .nav-link {
     width: 100%;



    }
}