.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px;
}



.pokemon-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 16px;
}

.pokemon-card {
    background-color: rgb(89, 247, 231);
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0 , 0.3);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: calc(33.3333% - 32px);
    max-width:calc(33.3333% - 32px);
    min-width: 300px;
}


.pokemon-image {
    width: 100%;
    height: 250px;
    object-fit: contain;
    background: linear-gradient(135deg, #dff18c 0%, #6aeebb 50%);
}

.pokemon-info {
    padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
}

.pokemon-name {
    font-size: 16px;
    font-weight: bold;
    color:#333;
    text-transform: capitalize;
    margin: 1;
}

.pokemon-type {
    padding: 8px 16px;
    border-radius: 20px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
.type-grass{
    background: linear-gradient(20deg, #8cf3c8 20%, rgb(51, 253, 1) 100%);
}


.type-electric {
    background: linear-gradient(20deg, rgb(176, 244, 247) 10%, #f1fa75 100%);

}

.type-fire {
    background: linear-gradient(20deg, #f8e42c 0%, rgb(255 ,0 ,0) 100%);
}

.type-water {
    background: linear-gradient(20deg, #b8ebff 0%, rgb(130, 187, 252) 100%);
}

.type-normal {
    background: linear-gradient(20deg, #f7f6f1 0%, rgb(197, 189, 189) 100%);
}

.type-psychic{
    background: linear-gradient(20deg, #ffffff 0%, rgb(134, 134, 134) 100%);

}

.type-ghost{
    background: linear-gradient(20deg, #e7b2fc 0%, rgb(167, 0, 250) 100%);

}

@media screen and (max-width: 768px) {
    .pokemon-grid{
        gap: 12px;
    } 
    .pokemon-card{
        flex: calc(50% - 16px);
        max-width: calc(50% - 16px);

    }
}

.pokemon-card:hover{
    transform: translate(-8px);
    box-shadow: 0 8px 16px rgba(0, 0,0,0.4);
    transition: all 0.3s ease;
}





